div.markdown_wrapper {
    @apply
        flex
        flex-col
        break-words
        gap-4
        grow-0
}

div.markdown_wrapper > pre {
    @apply
        flex
        rounded
        items-stretch
        grow
        shrink
        flex-wrap
        max-w-full
}

div.markdown_wrapper > pre > code {
    @apply
        grow shrink
        p-4
        overflow-x-scroll
        w-full
        lg:max-w-5xl
}

div.markdown_wrapper > p > code {
    @apply
        bg-accent
        text-accent-foreground
        rounded
        p-1
        overflow-x-hidden
}

div.markdown_wrapper > blockquote {
    @apply
        bg-accent
        text-accent-foreground
        border-l-[3px]
        border-solid
        border-l-primary
        p-2
}

div.markdown_wrapper > ol,
div.markdown_wrapper > ul {
    @apply ml-8 list-disc
}

div.markdown_wrapper > ol {
    @apply list-decimal;
}

div.markdown_wrapper > ol li,
div.markdown_wrapper > ul li {
    @apply my-4 mx-0
}

div.markdown_wrapper > ol li ul > li,
div.markdown_wrapper > ul li ul > li {
    @apply my-2 mx-8
}

div.markdown_wrapper > p {
    margin: 0;
}

div.markdown_wrapper a {
    @apply text-primary
        underline
        underline-offset-4
        lg:no-underline
        lg:hover:underline
}

div.markdown_wrapper > p > img {
    @apply
        block
        rounded
        float-left
        mr-4
        relative
        before:content-["texto-alternativo"]
        before:absolute
        before:top-full
        before:w-full
        before:h-4
}

div.markdown_wrapper > hr {
    @apply border-stone-300
}

div.markdown_wrapper > table {
    @apply w-full min-w-[310px] overflow-x-auto;
}

div.markdown_wrapper > table,
div.markdown_wrapper > table tr td,
div.markdown_wrapper > table tr th {
    @apply border-2 border-gray-700
}

div.markdown_wrapper > table tr td,
div.markdown_wrapper > table tr th {
    @apply p-2
}

div.markdown_wrapper > h1 {
    @apply text-4xl font-bold
}

div.markdown_wrapper > h2 {
    @apply text-3xl font-bold
}

div.markdown_wrapper > h3 {
    @apply text-2xl font-bold
}

div.markdown_wrapper > h4 {
    @apply text-xl font-bold
}

div.markdown_wrapper > h5 {
    @apply text-lg font-semibold
}

div.markdown_wrapper > h6 {
    @apply text-base font-medium
}
