.playlist_list {
    @apply
        grid
        grid-cols-1
        lg:grid-cols-2
        2xl:grid-cols-3
        gap-4
}

.playlist_item {
    @apply
        flex
        flex-col
        gap-2
        p-4
        rounded-md
        bg-neutral-800
        shadow-md
        drop-shadow-md
}

.playlist_cover {
    @apply
        rounded-md
        overflow-hidden
        border-2
        border-transparent
        hover:border-cyan-600
        hover:shadow-md
        hover:drop-shadow-md
        transition-all;
}

.divider {
    @apply
        w-full
        h-1
        bg-neutral-800/70
        rounded
}

.pagination {
    @apply
    grid
    grid-cols-2
    gap-4
    place-items-center
    w-[min(100%,448px)]
    place-self-center;
}


.page_link {
    @apply
        p-2
        hover:underline;
}

.page_link[aria-hidden="true"],
.pagination[aria-hidden="true"],
.divider[aria-hidden="true"] {
    @apply hidden;
}
