.menu_container {
    @apply
        fixed
        top-0
        left-0
        right-0

        flex
        items-center
        mb-5
        bg-neutral-800
        text-[#cdcdcd]
        p-5
        z-[5]
        select-none
        box-border

        max-lg:flex-row-reverse
        max-lg:justify-between

        lg:w-full
}

.menu_container a {
    @apply
        no-underline
        transition-colors
        duration-300

        hover:text-teal-500
        lg:text-[#cdcdcd]
}

.menu_container span {
    @apply
        block
        w-[33px]
        h-1
        mb-[5px]
        relative
        bg-[#cdcdcd]
        rounded-sm
        z-[1]
        origin-[4px_0px]
        transition-all
        lg:hidden;
}

.menu_container span:first-child {
    @apply origin-[0%_0%];
}

.menu_container span:nth-child(3) {
    @apply origin-[0%_100%]
}

.menu_container input {
    @apply lg:hidden
}

.menu_container label input {
    @apply
        block
        w-9
        h-6
        m-0
        absolute
        cursor-pointer
        opacity-0
        z-[2];
}

.menu_container label input:checked ~ span {
    @apply
        opacity-100
        rotate-45;
}

.menu_container label input:checked ~ span:nth-child(3) {
    @apply
        -rotate-45
        -translate-x-[0px]
        translate-y-[11px];
}

.menu_container label input:checked ~ span:nth-child(4) {
    @apply
        opacity-0
        rotate-0
        scale-[0.2];
}

/** MENU LOGO **/

.menu_logo {
    @apply break-keep shrink-0 ml-8;
}

/** MENU **/

.menu {
    @apply
        max-lg:absolute
        max-lg:box-border
        max-lg:w-[min(80%,_700px)]
        max-lg:right-0
        max-lg:top-0
        max-lg:-m-5
        max-lg:p-[75px_2rem_50px_1rem]
        max-lg:bg-neutral-800
        max-lg:origin-[0%_0%]
        max-lg:translate-x-full
        max-lg:transition-all
        max-lg:duration-500

        lg:relative
        lg:w-full
        lg:flex
        lg:justify-end

        max-[375px]:w-full
}

.menu ul {
    @apply
        inline-flex
        list-none
        gap-4
        items-center

        lg:p-0

        max-lg:flex
        max-lg:flex-col
        max-lg:min-h-screen
        max-lg:items-end
        max-lg:pt-12
}

.menu li {
    @apply
        block
        shrink-0
}

.menu a {
    @apply
        gap-2
        inline-flex
        items-center
        break-keep
        px-1 py-2
}

.menu li > a {
    @apply
        max-lg:text-xl
        max-lg:py-8 px-4
        max-lg:text-gray-400
        max-lg:font-medium
        grid grid-cols-[20px,_1fr]
}

.menu.opened {
    @apply translate-x-0
}
