@keyframes appear {
    from {
        transform: translateY(3rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section.wrapper {
    @apply
        w-full
        flex flex-col
        items-center
        justify-center;

    animation: appear 400ms ease-out;
}

.timeline {
    @apply
        flex
        flex-col
        w-10/12
        h-auto
        max-w-3xl
        my-0 mx-auto
        md:grid
        md:grid-cols-[1fr_0.1875rem_1fr];
}

.timeline_content {
    @apply
        transition-[400ms_ease]
        m-4
        mb-5
}

.timeline_content small {
    @apply text-gray-400
}

.timeline_content p {
    @apply text-gray-300 text-sm
}

.timeline_content a {
    @apply text-sm mt-4 block text-end;
}

.timeline_content p > b {
    @apply decoration-dotted underline text-cyan-600 font-semibold
}

.timeline_middle {
    @apply
        relative
        w-1
        h-full
        bg-gradient-to-b
        from-primary
        to-secondary
}

.timeline_circle {
    @apply
        absolute
        top-0
        left-1/2
        w-4
        h-4
        rounded-full
        bg-gradient-to-tr
        from-secondary
        to-primary
        -translate-x-1/2
        -translate-y-1/2
        max-md:hidden
}
