.hero_wrapper {
    @apply
        grid grid-cols-1 lg:grid-cols-[1fr,_clamp(20rem,100%,34rem)] gap-6 max-w-7xl min-h-[80vh]
}

.image_wrapper {
    @apply
        relative
        block
        overflow-hidden
        my-0
        mx-auto
        w-[clamp(200px,_100%,_360px)]
        pb-[clamp(200px,_100%,_360px)]
        overflow-hidden
        rounded-full;

    --translate: 0.675rem;
    animation: pong 4s infinite;
}

@keyframes pong {
    from { transform: translate(0, calc(var(--translate) * -1)); }
    50% { transform: translate(0, calc(var(--translate))); }
    to { transform: translate(0, calc(var(--translate) * -1)); }
}

.offer_card {
    @apply
        my-auto bg-neutral-700 flex flex-col p-8 rounded-lg gap-8 drop-shadow-lg
        relative overflow-hidden
}

.offer_card div {
    @apply z-10
}

@keyframes rotateBorders {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.offer_card::before {
    @apply
        content-[""] absolute bg-gradient-to-t from-orange-500 via-neutral-700 to-violet-500
        transition-all origin-center -inset-full -translate-y-1/2 z-0;

    animation: rotateBorders 4s linear infinite
}

.offer_card::after {
    @apply
        content-[""] absolute bg-neutral-700 inset-1 rounded z-0;
}

.pricing {
    @apply
        flex flex-col
}

.pricing .from {
    @apply text-2xl
}

.pricing .to {
    @apply text-6xl font-bold
}

.grant_book {
    @apply
        bg-orange-500
        text-white
        text-center
        py-4
        rounded
        text-lg
        font-medium
        shadow-lg
        shadow-orange-500/40
        hover:shadow-orange-500/60
        transition-all
}
