.link_button {
    @apply
        bg-orange-500/90
        hover:bg-orange-500
        text-white
        px-2 py-4 rounded
        shadow-lg shadow-orange-500/40 hover:shadow-orange-500/60
        transition-all
        font-medium md:w-[clamp(10rem,_100%,_15rem)] text-center
}

.link_preview {
    @apply
        bg-orange-500/20
        hover:bg-orange-500/30
        shadow-none
        text-white/50
        hover:text-white/90
}
